/* src/index.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: var(--cb-color-surface-bg);
  color: var(--cb-color-text-primary);
}

ul {
  list-style: none;
} 


h1 {
  color: var(--cb-color-text-primary);
  }
  
@media (prefers-color-scheme: dark) {
h1 {
  color: var(--cb-color-text-primary);
  }


}